#root{
  margin: 0 10rem;
  background-color: rgba(180, 12, 158, 0.836);
  border-radius:0.5rem;
}
.title{
  color: white;
  text-align: center;
  text-decoration: underline;
  padding:2rem;
}
.app{
  text-align: center;
}
.row{
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  &-container{
    display: flex;
    justify-content:center;
  }
  padding: 2rem;
}
.time{
  height:200px;
  width: 200px;
  text-align: center;
  padding: 5rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border: 1px solid white;
  color:white;
  border-radius: 50%;
  &-container{
    display: flex;
    justify-content:center;
  }
}
.modal{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: white;
  opacity: 1;
  &-title{
    text-align: center;
  }
  &-container{
    margin: 0 8rem;
    background-color: rgba(180, 12, 158, 0.836);
    border-radius:0.5rem;
  }
  &-title{
    color: white;
    text-align: center;
    text-decoration: underline;
    padding:2rem;
  }
}
.close,.close-and-play{
  margin: 1rem;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  &:hover,&:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
  }
}
.break{
  text-align: center;
}